<div class="dm-l-grid">
  <footer role="complementary" class="dm-c-footer">
    <p>&copy; {{ helpers.copyrightDate() }} Dan Mall. All rights reserved. Still figuring out what else goes here.</p>
  </footer>
</div>
